{% extends 'temp/mainauditorium.html' %}
{% block base %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>
    <h2 style="color: white">Manage Booking</h2>
    <table border="1" class="table table-striped">
        <tr style="color: white">
            <th>Auditorium</th>
            <th>User</th>
            <th>Date</th>
            <th>Time</th>
            <th>Reminders</th>
            <th>Status</th>
        </tr>
        {% for i in x %}
        <tr style="color: white">
            <td>{{ i.fac.aud.name }}</td>
            <td>{{ i.user.name }}</td>
            <td>{{ i.date }}</td>
            <td>{{ i.time }}</td>
            <td>{{ i.reminders }}</td>
            <td>{{ i.status }}</td>
            <td><a href="/booking/aprv_buk/{{ i.book_id }}" class="btn btn-outline-primary">Approve</a> </td>
            <td><a href="/booking/rejct_buk/{{ i.book_id }}" class="btn btn-outline-danger">Reject</a> </td>
        </tr>
        {% endfor %}
    </table>
</center>
</body>
</html>
{% endblock %}